.cardSpecificPlanet img {
    max-width: 160%;
    max-height: 140%;
}

.cardSpecificPlanet p {
    width: 400%;
}

.titleTextPlanet h5 {
    display: flex;
    justify-content: center;
    width: 400%;
}

.infoPlanet {
    gap: 30%;
}

.stickPlanet {
    margin-top: 24px;
    margin-bottom: 12px;
    height: 1px;
    width: 250%;
    background-color: red;
}