.cardSpecificCharacter img {
    max-width: 160%;
    max-height: 140%;
}

.cardSpecificCharacter p {
    width: 400%;
}

.titleText h5 {
    display: flex;
    justify-content: center;
    width: 400%;
}

.info {
    gap: 30%;
}

.stick {
    margin-top: 24px;
    margin-bottom: 12px;
    height: 1px;
    width: 250%;
    background-color: red;
}


/*Cards para la barra de desplazamiento*/

.cards-container .d-flex {
    gap: 16px;
}

.cards-planet-container .d-flex {
    gap: 16px;
}

.cards-container {
    overflow: scroll;
    overflow-y: hidden
}

.cards-planet-container {
    overflow: scroll;
    overflow-y: hidden
}